body h3, h4{
	padding: 75px 0px 50px 0px;
	text-align: center;
}
nav .navbar-nav li a{
  	color: white !important;
}
nav .navbar-nav li a:hover{
	color: rgba(222,222,222,1.00) !important;
}
nav .navbar-nav li .my_dropdown_link:hover {
	color: black !important;
}
.navbar-brand:hover{
	color: rgba(222,222,222,1.00) !important;
}
.my_products{
	margin: 0px 150px 0px 150px;
}
.spacer{
	padding: 25px 25px 0px 25px;
}
.bold_span{
	font-weight: bold;
}
#myGuitars{
	padding-top: 25px;
}
.myFooter{
	background-color: rgba(29,29,29,1.00);
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	border-top: 5px solid white;
}
.myFooter-Info{
	list-style: none;
	font-style: italic;
}
.myFooter-Info li{
	font-size: 12px;
	display: inline-block;
	padding-right: 10px;
	color: white;
	text-align: center;
}
#myReceipt{
	padding: 10px 25px 10px 25px;
}
#myCheckout{
	padding: 10px 25px 10px 25px;
}